USE [master]
GO
/****** Object:  Database [FinalAppWeb]    Script Date: 18/05/2018 10:44:57 p. m. ******/
CREATE DATABASE [FinalAppWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinalAppWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FinalAppWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinalAppWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FinalAppWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinalAppWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinalAppWeb]
GO
USE [FinalAppWeb]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 18/05/2018 10:44:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[personId] [int] NOT NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[alergies]    Script Date: 18/05/2018 10:44:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alergies](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_alergies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clinicDate]    Script Date: 18/05/2018 10:44:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clinicDate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clinicHistorytId] [int] NOT NULL,
	[doctorId] [int] NOT NULL,
	[nurseId] [int] NOT NULL,
	[dateOfRequest] [date] NOT NULL,
	[dateOfAppointment] [date] NOT NULL,
	[description] [nvarchar](50) NOT NULL,
	[status] [bit] NOT NULL,
	[weight] [decimal](3, 1) NULL,
	[height] [decimal](3, 2) NULL,
	[alergies] [nvarchar](50) NULL,
 CONSTRAINT [PK_clinicDate] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clinicHistory]    Script Date: 18/05/2018 10:44:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clinicHistory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patientId] [int] NOT NULL,
	[date] [date] NOT NULL,
	[weight] [decimal](3, 1) NULL,
	[height] [decimal](3, 2) NULL,
	[alergies] [nvarchar](50) NULL,
	[description] [nvarchar](50) NULL,
 CONSTRAINT [PK_clinicHistory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clinicHistory_Alergie]    Script Date: 18/05/2018 10:44:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clinicHistory_Alergie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clinicHistoryId] [int] NOT NULL,
	[AlergieId] [int] NOT NULL,
 CONSTRAINT [PK_clinicHistory_Alergie] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor]    Script Date: 18/05/2018 10:44:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[personId] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[dateOfEnrollment] [date] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_doctor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_speciality]    Script Date: 18/05/2018 10:44:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_speciality](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctorId] [int] NOT NULL,
	[specialityId] [int] NOT NULL,
 CONSTRAINT [PK_doctor_speciality] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nurse]    Script Date: 18/05/2018 10:44:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nurse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[personId] [int] NOT NULL,
	[userid] [int] NOT NULL,
	[dateOfEnrollment] [date] NOT NULL,
 CONSTRAINT [PK_nurse] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patient]    Script Date: 18/05/2018 10:44:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patient](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[personId] [int] NOT NULL,
 CONSTRAINT [PK_patient] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[person]    Script Date: 18/05/2018 10:44:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[person](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[DNI] [decimal](8, 0) NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[age] [int] NOT NULL,
	[phone] [decimal](9, 0) NOT NULL,
	[dateOfBith] [date] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[nationality] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_patients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 18/05/2018 10:44:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[doctorId] [int] NOT NULL,
	[clinicDateId] [int] NOT NULL,
	[dateOfRequest] [date] NOT NULL,
	[dateOfService] [date] NOT NULL,
	[description] [nvarchar](50) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_services] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[speciality]    Script Date: 18/05/2018 10:44:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[speciality](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_especialties] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 18/05/2018 10:44:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](10) NOT NULL,
	[password] [nvarchar](20) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([ID], [userId], [personId]) VALUES (1, 1, 1)
INSERT [dbo].[admin] ([ID], [userId], [personId]) VALUES (7, 2, 2)
INSERT [dbo].[admin] ([ID], [userId], [personId]) VALUES (8, 7, 5)
SET IDENTITY_INSERT [dbo].[admin] OFF
SET IDENTITY_INSERT [dbo].[alergies] ON 

INSERT [dbo].[alergies] ([ID], [descripcion]) VALUES (1, N'panadol')
INSERT [dbo].[alergies] ([ID], [descripcion]) VALUES (2, N'chocolate')
SET IDENTITY_INSERT [dbo].[alergies] OFF
SET IDENTITY_INSERT [dbo].[clinicDate] ON 

INSERT [dbo].[clinicDate] ([id], [clinicHistorytId], [doctorId], [nurseId], [dateOfRequest], [dateOfAppointment], [description], [status], [weight], [height], [alergies]) VALUES (1, 2, 2, 3, CAST(N'2018-05-18' AS Date), CAST(N'2018-05-19' AS Date), N'pls', 0, CAST(1.0 AS Decimal(3, 1)), CAST(2.00 AS Decimal(3, 2)), N'si')
INSERT [dbo].[clinicDate] ([id], [clinicHistorytId], [doctorId], [nurseId], [dateOfRequest], [dateOfAppointment], [description], [status], [weight], [height], [alergies]) VALUES (3, 4, 1, 3, CAST(N'2018-05-18' AS Date), CAST(N'2018-05-18' AS Date), N'nada', 0, CAST(4.0 AS Decimal(3, 1)), CAST(5.00 AS Decimal(3, 2)), N'si')
INSERT [dbo].[clinicDate] ([id], [clinicHistorytId], [doctorId], [nurseId], [dateOfRequest], [dateOfAppointment], [description], [status], [weight], [height], [alergies]) VALUES (5, 4, 2, 3, CAST(N'2018-05-18' AS Date), CAST(N'2018-05-18' AS Date), N'nada x2', 0, CAST(6.0 AS Decimal(3, 1)), CAST(5.00 AS Decimal(3, 2)), N'si')
SET IDENTITY_INSERT [dbo].[clinicDate] OFF
SET IDENTITY_INSERT [dbo].[clinicHistory] ON 

INSERT [dbo].[clinicHistory] ([id], [patientId], [date], [weight], [height], [alergies], [description]) VALUES (2, 1, CAST(N'2018-05-18' AS Date), CAST(78.5 AS Decimal(3, 1)), CAST(1.23 AS Decimal(3, 2)), N'si', N'18/05/2018 12:00:00 a. m.')
INSERT [dbo].[clinicHistory] ([id], [patientId], [date], [weight], [height], [alergies], [description]) VALUES (3, 3, CAST(N'2018-05-18' AS Date), CAST(4.0 AS Decimal(3, 1)), CAST(3.00 AS Decimal(3, 2)), N'no', N'nada')
INSERT [dbo].[clinicHistory] ([id], [patientId], [date], [weight], [height], [alergies], [description]) VALUES (4, 7, CAST(N'2018-05-18' AS Date), CAST(4.0 AS Decimal(3, 1)), CAST(5.00 AS Decimal(3, 2)), N'si', N'nada x2')
SET IDENTITY_INSERT [dbo].[clinicHistory] OFF
SET IDENTITY_INSERT [dbo].[clinicHistory_Alergie] ON 

INSERT [dbo].[clinicHistory_Alergie] ([id], [clinicHistoryId], [AlergieId]) VALUES (2, 2, 1)
INSERT [dbo].[clinicHistory_Alergie] ([id], [clinicHistoryId], [AlergieId]) VALUES (3, 2, 1)
INSERT [dbo].[clinicHistory_Alergie] ([id], [clinicHistoryId], [AlergieId]) VALUES (5, 2, 2)
SET IDENTITY_INSERT [dbo].[clinicHistory_Alergie] OFF
SET IDENTITY_INSERT [dbo].[doctor] ON 

INSERT [dbo].[doctor] ([id], [personId], [userId], [dateOfEnrollment], [status]) VALUES (1, 1, 1, CAST(N'2018-05-17' AS Date), 1)
INSERT [dbo].[doctor] ([id], [personId], [userId], [dateOfEnrollment], [status]) VALUES (2, 2, 2, CAST(N'2018-05-17' AS Date), 1)
INSERT [dbo].[doctor] ([id], [personId], [userId], [dateOfEnrollment], [status]) VALUES (3, 13, 5, CAST(N'2018-05-18' AS Date), 1)
SET IDENTITY_INSERT [dbo].[doctor] OFF
SET IDENTITY_INSERT [dbo].[doctor_speciality] ON 

INSERT [dbo].[doctor_speciality] ([id], [doctorId], [specialityId]) VALUES (1, 1, 4)
INSERT [dbo].[doctor_speciality] ([id], [doctorId], [specialityId]) VALUES (2, 2, 4)
INSERT [dbo].[doctor_speciality] ([id], [doctorId], [specialityId]) VALUES (3, 1, 5)
SET IDENTITY_INSERT [dbo].[doctor_speciality] OFF
SET IDENTITY_INSERT [dbo].[nurse] ON 

INSERT [dbo].[nurse] ([id], [personId], [userid], [dateOfEnrollment]) VALUES (1, 4, 3, CAST(N'0001-01-01' AS Date))
INSERT [dbo].[nurse] ([id], [personId], [userid], [dateOfEnrollment]) VALUES (3, 13, 5, CAST(N'0001-01-01' AS Date))
INSERT [dbo].[nurse] ([id], [personId], [userid], [dateOfEnrollment]) VALUES (4, 12, 6, CAST(N'0001-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[nurse] OFF
SET IDENTITY_INSERT [dbo].[patient] ON 

INSERT [dbo].[patient] ([id], [personId]) VALUES (1, 2)
INSERT [dbo].[patient] ([id], [personId]) VALUES (2, 1)
INSERT [dbo].[patient] ([id], [personId]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[patient] OFF
SET IDENTITY_INSERT [dbo].[person] ON 

INSERT [dbo].[person] ([ID], [name], [lastName], [DNI], [gender], [age], [phone], [dateOfBith], [email], [address], [nationality]) VALUES (1, N'Anthony', N'Retto', CAST(73530766 AS Decimal(8, 0)), N'Male', 22, CAST(986232837 AS Decimal(9, 0)), CAST(N'1995-10-07' AS Date), N'a@gmail.com', N'ada', N'Peruvian')
INSERT [dbo].[person] ([ID], [name], [lastName], [DNI], [gender], [age], [phone], [dateOfBith], [email], [address], [nationality]) VALUES (2, N'Jose', N'Jamon', CAST(73530765 AS Decimal(8, 0)), N'Female', 34, CAST(43229876 AS Decimal(9, 0)), CAST(N'2018-05-08' AS Date), N'jj@gmail.com', N'asda', N'asada')
INSERT [dbo].[person] ([ID], [name], [lastName], [DNI], [gender], [age], [phone], [dateOfBith], [email], [address], [nationality]) VALUES (3, N'sada', N'a', CAST(46549879 AS Decimal(8, 0)), N'Female', 2, CAST(54650 AS Decimal(9, 0)), CAST(N'2018-05-16' AS Date), N'a', N'a', N'a')
SET IDENTITY_INSERT [dbo].[person] OFF
SET IDENTITY_INSERT [dbo].[speciality] ON 

INSERT [dbo].[speciality] ([ID], [description]) VALUES (4, N'Audiology')
INSERT [dbo].[speciality] ([ID], [description]) VALUES (5, N'Pathology')
SET IDENTITY_INSERT [dbo].[speciality] OFF
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [username], [password], [email]) VALUES (1, N'a73530766', N'joven123', N'anthonyretto@gmail.com')
INSERT [dbo].[user] ([id], [username], [password], [email]) VALUES (2, N'J73530765', N'default1', N'jj@gmail.com')
INSERT [dbo].[user] ([id], [username], [password], [email]) VALUES (3, N'a15465465', N'default1', N'asa')
SET IDENTITY_INSERT [dbo].[user] OFF
ALTER TABLE [dbo].[admin]  WITH CHECK ADD  CONSTRAINT [FK_admin_person] FOREIGN KEY([personId])
REFERENCES [dbo].[person] ([ID])
GO
ALTER TABLE [dbo].[admin] CHECK CONSTRAINT [FK_admin_person]
GO
ALTER TABLE [dbo].[admin]  WITH CHECK ADD  CONSTRAINT [FK_admin_user] FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[admin] CHECK CONSTRAINT [FK_admin_user]
GO
ALTER TABLE [dbo].[clinicDate]  WITH CHECK ADD  CONSTRAINT [FK_clinicDate_doctor] FOREIGN KEY([doctorId])
REFERENCES [dbo].[doctor] ([id])
GO
ALTER TABLE [dbo].[clinicDate] CHECK CONSTRAINT [FK_clinicDate_doctor]
GO
ALTER TABLE [dbo].[clinicDate]  WITH CHECK ADD  CONSTRAINT [FK_clinicDate_nurse] FOREIGN KEY([nurseId])
REFERENCES [dbo].[nurse] ([id])
GO
ALTER TABLE [dbo].[clinicDate] CHECK CONSTRAINT [FK_clinicDate_nurse]
GO
ALTER TABLE [dbo].[clinicDate]  WITH CHECK ADD  CONSTRAINT [FK_clinicDate_patient] FOREIGN KEY([clinicHistorytId])
REFERENCES [dbo].[clinicHistory] ([id])
GO
ALTER TABLE [dbo].[clinicDate] CHECK CONSTRAINT [FK_clinicDate_patient]
GO
ALTER TABLE [dbo].[clinicHistory]  WITH CHECK ADD  CONSTRAINT [FK_clinicHistory_patient] FOREIGN KEY([patientId])
REFERENCES [dbo].[patient] ([id])
GO
ALTER TABLE [dbo].[clinicHistory] CHECK CONSTRAINT [FK_clinicHistory_patient]
GO
ALTER TABLE [dbo].[clinicHistory_Alergie]  WITH CHECK ADD  CONSTRAINT [FK_clinicHistory_Alergie_alergies] FOREIGN KEY([AlergieId])
REFERENCES [dbo].[alergies] ([ID])
GO
ALTER TABLE [dbo].[clinicHistory_Alergie] CHECK CONSTRAINT [FK_clinicHistory_Alergie_alergies]
GO
ALTER TABLE [dbo].[clinicHistory_Alergie]  WITH CHECK ADD  CONSTRAINT [FK_clinicHistory_Alergie_clinicHistory_Alergie] FOREIGN KEY([clinicHistoryId])
REFERENCES [dbo].[clinicHistory] ([id])
GO
ALTER TABLE [dbo].[clinicHistory_Alergie] CHECK CONSTRAINT [FK_clinicHistory_Alergie_clinicHistory_Alergie]
GO
ALTER TABLE [dbo].[doctor]  WITH CHECK ADD  CONSTRAINT [FK_doctor_person] FOREIGN KEY([personId])
REFERENCES [dbo].[person] ([ID])
GO
ALTER TABLE [dbo].[doctor] CHECK CONSTRAINT [FK_doctor_person]
GO
ALTER TABLE [dbo].[doctor]  WITH CHECK ADD  CONSTRAINT [FK_doctor_user] FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[doctor] CHECK CONSTRAINT [FK_doctor_user]
GO
ALTER TABLE [dbo].[doctor_speciality]  WITH CHECK ADD  CONSTRAINT [FK_doctor_speciality_doctor] FOREIGN KEY([doctorId])
REFERENCES [dbo].[doctor] ([id])
GO
ALTER TABLE [dbo].[doctor_speciality] CHECK CONSTRAINT [FK_doctor_speciality_doctor]
GO
ALTER TABLE [dbo].[doctor_speciality]  WITH CHECK ADD  CONSTRAINT [FK_doctor_speciality_specialties] FOREIGN KEY([specialityId])
REFERENCES [dbo].[speciality] ([ID])
GO
ALTER TABLE [dbo].[doctor_speciality] CHECK CONSTRAINT [FK_doctor_speciality_specialties]
GO
ALTER TABLE [dbo].[nurse]  WITH CHECK ADD  CONSTRAINT [FK_nurse_person] FOREIGN KEY([personId])
REFERENCES [dbo].[person] ([ID])
GO
ALTER TABLE [dbo].[nurse] CHECK CONSTRAINT [FK_nurse_person]
GO
ALTER TABLE [dbo].[nurse]  WITH CHECK ADD  CONSTRAINT [FK_nurse_user] FOREIGN KEY([userid])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[nurse] CHECK CONSTRAINT [FK_nurse_user]
GO
ALTER TABLE [dbo].[patient]  WITH CHECK ADD  CONSTRAINT [FK_patient_person] FOREIGN KEY([personId])
REFERENCES [dbo].[person] ([ID])
GO
ALTER TABLE [dbo].[patient] CHECK CONSTRAINT [FK_patient_person]
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD  CONSTRAINT [FK_services_clinicDate] FOREIGN KEY([ID])
REFERENCES [dbo].[clinicDate] ([id])
GO
ALTER TABLE [dbo].[services] CHECK CONSTRAINT [FK_services_clinicDate]
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD  CONSTRAINT [FK_services_doctor] FOREIGN KEY([ID])
REFERENCES [dbo].[doctor] ([id])
GO
ALTER TABLE [dbo].[services] CHECK CONSTRAINT [FK_services_doctor]
GO
USE [master]
GO
